@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

/* @theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
	:root {
		--bg-primary: #23233b;
		--bg-surface: #2c2c46;
		--bg-deep: #1b1b2e;

		--accent-primary: #0fabfc;
		--accent-hover: #36bfff;

		--text-primary: #e6e7f0;
		--text-secondary: #a7a9c2;
		--text-muted: #7a7d9a;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	overflow: hidden;
	background: #23233b;
}
